<div class="main">

<%= month_calendar events: @variable_costs do |date, variable_costs| %>
  <%= date.day %>

  <% variable_costs.each do |variable| %>
    <div>
      <%= variable.variable_name %>
      <%= variable.price %>
    </div>
  <% end %>
<% end %>

  <h1>変動費</h1>
  <%= form_with model: @variable_cost, url:variables_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

    <div class="form">
      <div class="form_child">
        <div class="fixed_category_id">
          カテゴリー
        </div>
        <%= f.collection_select(:variable_category_id,VariableCategory.all, :id, :name, {},{class:"text"}) %>
      </div>
      <div class="form_child">
        <div class="fixed_id">
          項目
        </div>
        <%= f.text_field :variable_name, class:"text" %>円
      </div>
      <div class="form_child">
        <div class="price">
          金額
        </div>
        <%= f.text_field :price, class:"text" %>円
      </div>
      <div class="form_child">
        <div class="price">
          日付
        </div>
        <div class="month">
          <%= f.date_select :start_time %>
        </div>
      </div>
      <div class="form_child">
          <%= f.submit "書き込み" ,class:"btn" %>
      </div>
    </div>
  <% end %>
  <div class="lists">
    <table border="1" width="70%" cellpadding="3">
      <tr><th>日付</th><th>項目</th><th>金額</th></tr>
      <% @variable_costs.each do |variable| %>
      <tr><th><%= variable.start_time %> </th><th><%= variable.variable_name %></th><th><%= variable.price %></th></tr>
      <% end %>
    </table>
  </div>
  <h1>固定費</h1>
  <%= form_with model: @fixed_cost, url:fixeds_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

    <div class="form">
      <div class="form_child">
        <div class="fixed_category_id">
          カテゴリー
        </div>
        <%= f.collection_select(:fixed_category_id,FixedCategory.all, :id, :name, {},{class:"text"}) %>
      </div>
      <div class="form_child">
        <div class="fixed_id">
          項目
        </div>
        <%= f.collection_select(:fixed_id,Fixed.all, :id, :name, {},{class:"text"}) %>
      </div>
      <div class="form_child">
        <div class="price">
          金額
        </div>
        <%= f.text_field :price, class:"text" %>円
      </div>
      <div class="form_child">
        <div class="price">
          日付
        </div>
        <div class="month">
          <%= f.date_select :month, discard_day: true %>
        </div>
      </div>
      <div class="form_child">
          <%= f.submit "書き込み" ,class:"btn" %>
      </div>
    </div>
  <% end %>
  <div class="lists">
    <table border="1" width="70%" cellpadding="3">
      <tr><th>日付</th><th>項目</th><th>金額</th></tr>
      <% @fixed_costs.each do |fixed| %>
      <tr><th><%= fixed.month %> </th><th><%= fixed.fixed.name %></th><th><%= fixed.price %></th></tr>
      <% end %>
    </table>
  </div>
</div>




