<div class="main">
  <h1>カレンダー：<%= Date.today.month%>月</h1>
  <% unless @variable_cost.errors.any? || @fixed_cost.errors.any?%>
  <%= month_calendar events: @variable_costs_all do |date, variable_costs| %>
    <span class="<%= date%>"><%= date.day %></span>

    <% variable_costs.each do |variable| %>
      <div>
        <%= variable.variable_name %>
        ¥<%= variable.price %>
      </div>
    <% end %>
  <% end %>
  <% end %>

  
  <h1>各週の合計金額</h1>
  <table border="1" width="70%" cellpadding="3" class="week_sum">
    <tr><th>1週目</th><th>2週目</th><th>3週目</th><th>4週目</th><th>5週目</th><th>6週目</th></tr>
    <tr><td>¥<%= @week1_sum %></td><td>¥<%= @week2_sum %></td><td>¥<%= @week3_sum %></td><td>¥<%= @week4_sum %></td><td>¥<%= @week5_sum %></td><td>¥<%= @week6_sum %></td></tr>
  </table>

  <h1>変動費</h1>
  <%= form_with model: @variable_cost, url:variables_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

    <div class="form">
      <div class="form_child">
        <div class="fixed_category_id">
          カテゴリー
        </div>
        <%= f.collection_select(:variable_category_id,VariableCategory.all, :id, :name, {},{class:"text"}) %>
      </div>
      <div class="form_child">
        <div class="fixed_id">
          項目
        </div>
        <%= f.text_field :variable_name, class:"text" %>
      </div>
      <div class="form_child">
        <div class="price">
          金額
        </div>
        <%= f.text_field :price, class:"text" %>円
      </div>
      <div class="form_child">
        <div class="price">
          日付
        </div>
        <div class="month">
          <%= f.date_select :start_time %>
        </div>
      </div>
      <div class="form_child">
          <%= f.submit "書き込み" ,class:"btn" %>
      </div>
    </div>
  <% end %>
  <div class="lists">
    <table border="1" width="70%" cellpadding="3">
      <tr><th>日付</th><th>カテゴリー</th><th>項目</th><th>金額</th></tr>
      <% @variable_costs.each do |variable| %>
      <tr><td><%= variable.start_time %> </td><td><%= variable.variable_category.name %></td><td><%= variable.variable_name %></td><td><%= variable.price %></td></tr>
      <% end %>
    </table>
  </div>
  <h1>固定費</h1>
  <%= form_with model: @fixed_cost, url:fixeds_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

    <div class="form">
      <div class="form_child">
        <div class="fixed_category_id">
          カテゴリー
        </div>
        <%= f.collection_select(:fixed_category_id,FixedCategory.all, :id, :name, {},{class:"text"}) %>
      </div>
      <div class="form_child">
        <div class="fixed_id">
          項目
        </div>
        <%= f.collection_select(:fixed_id,Fixed.all, :id, :name, {},{class:"text"}) %>
      </div>
      <div class="form_child">
        <div class="price">
          金額
        </div>
        <%= f.text_field :price, class:"text" %>円
      </div>
      <div class="form_child">
        <div class="price">
          日付
        </div>
        <div class="month">
          <%= f.date_select :month, discard_day: true %>
        </div>
      </div>
      <div class="form_child">
          <%= f.submit "書き込み" ,class:"btn" %>
      </div>
    </div>
  <% end %>
  <div class="lists">
    <table border="1" width="70%" cellpadding="3">
      <tr><th>日付</th><th>カテゴリー</th><th>項目</th><th>金額</th></tr>
      <% @fixed_costs.each do |fixed| %>
      <tr><td><%= fixed.month %> </td><td><%= fixed.fixed_category.name %></td><td><%= fixed.fixed.name %></td><td><%= fixed.price %></td></tr>
      <% end %>
    </table>
  </div>
</div>




