<div class="header">
  <%= link_to "ホーム" ,root_path, class: "header_list" %>
  <%= link_to "特別費" ,specials_path, class: "header_list" %>
  <%= link_to "検索" ,search_fixeds_path, class: "header_list" %>
</div>
<div class="main">
  <%= form_with url:search_fixeds_path, method: :get, local: true do |f| %>
  <div class="form">
    <div class="month">
      <%= f.date_select( :sample, discard_day: true) %>
    </div>
    <div class="form_child">
      <%= f.submit "書き込み" ,class:"btn" %>
    </div>
  </div>
  <% end %>

  <h2>＜今月の合計＞</h2>
  <table border="1" width="20%" cellpadding="3" class="month_sum">
  <% if @search_day%>
    <tr><th><%= @search_day.month %>月</th></tr>
  <% end %>
    <tr><td>¥<%= @month_sum %></td></tr>
  </table>
  <h2>＜各週の合計＞</h2>
  <table border="1" cellpadding="3" class="week_sum">
    <tr><th width="10%">第1週</th><th width="10%">第2週</th><th width="10%">第3週</th><th width="10%">第4週</th><th width="10%">第5週</th><th width="10%">第6週</th></tr>
    <tr><td>¥<%= @week1_sum %></td><td>¥<%= @week2_sum %></td><td>¥<%= @week3_sum %></td><td>¥<%= @week4_sum %></td><td>¥<%= @week5_sum %></td><td>¥<%= @week6_sum %></td></tr>
  </table>
  <hr>
  <h2>＜変動費＞</h2>
  <div class="container">
  <% if params["sample(1i)"] && params["sample(2i)"] && params["sample(3i)"] %>
  <% @search_costs.each_slice(10) do |search_costs| %>
  <div class="lists">
    <table border="1" width="100%" cellpadding="3">
      <tr><th>日付</th><th>カテゴリー</th><th>項目</th><th>金額</th></tr>
      <% search_costs.each do |search| %>
      <tr><td><%= search.start_time.strftime("%-m月 %d日") %> </td><td><%= search.varicate.name %></td><td><%= search.variable_name %></td><td><%= search.price %></td></tr>
      <% end %>
    </table>
    <table cellpadding="4" width="50px" >
      <tr><th class="delete">削除</th></tr>
      <% search_costs.each do |search| %>
      <tr><td style="border:none" class="delete"><%= link_to "削除",variable_path(search.id), method: :delete, class: "delete" %></td></tr>
      <% end %>
    </table>
  </div>
  <% end %>
  </div>
  <h3>・カテゴリー別</h3>
  <%= pie_chart @search_ratio, donut: true, suffix: "%",colors: [ "#FFB5A7","#FCD5CE","#F8EDEB","#F9DCC4","#FEC89A","#96939F","#7AA9CD","#93C2F1","#D1EAAE","#6DB8C5"], legend: "left" %>
  <%= column_chart  @search_costs.joins(:varicate).group("varicates.name").sum(:price).sort_by { |_, v| v }.reverse.to_h, suffix: "円", colors:["#6DB8C5"] %>
  <% end %>

</div>

