<%= form_with url:costs_path, local: true do |f| %>
  <div class="fixed_category_id">
    カテゴリー
  </div>
  <%= f.collection_select(:fixed_category_id,FixedCategory.all, :id, :name, {}) %>
  <%= f.collection_select(:fixed_id,Fixed.all, :id, :name, {}) %>
  <%= f.text_field :price %>
  <%= raw sprintf(
                  f.date_select(
                    :month,
                    discard_day:true,
                    class:'select-month',
                    id:"month",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: Time.now.year,
                    date_separator: '%s'),
                  "<p> 年 </p>") + "<p> 月 </p>" %>

  <%= f.submit "書き込み" ,class:"register-red-btn" %>
<% end %>




