<div class="header">
  <%= link_to "ホーム" ,root_path, class: "header_list" %>
  <%= link_to "検索" ,search_fixeds_path, class: "header_list" %>
  <%= link_to "特別費" ,specials_path, class: "header_list" %>
</div>
<div class="main">
  <h2>特別費</h2>
  <%= form_with model: @special_cost, url:specials_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

    <div class="form">
      <div class="form_child">
        <div class="fixed_category_id">
          カテゴリー
        </div>
        <%= f.collection_select(:specate_id,Specate.all, :id, :name, {},{class:"text"}) %>
      </div>
      <div class="form_child">
        <div class="fixed_id">
          項目
        </div>
        <%= f.text_field :special_name, class:"text" %>
      </div>
      <div class="form_child">
        <div class="price">
          金額
        </div>
        <%= f.text_field :price, class:"text" %>円
      </div>
      <div class="form_child">
        <div class="price">
          日付
        </div>
        <div class="month">
          <%= f.date_select :date, discard_day: true %>
        </div>
      </div>
      <div class="form_child">
          <%= f.submit "登録" ,class:"btn" %>
      </div>
    </div>
  <% end %>
  <div class="container">
  <% @special_costs.each_slice(10) do |special_costs| %>
  <div class="lists">
    <table border="1" width="100%" cellpadding="3">
      <tr><th>日付</th><th>カテゴリー</th><th>項目</th><th>金額 </th></tr>
      <% special_costs.each do |special| %>
      <tr><td><%= special.date.strftime("%-m月 %d日") %> </td><td><%= special.specate.name %></td><td><%= special.special_name %></td><td><%= special.price %></td></tr>
      <% end %>
    </table>
    <table cellpadding="4" width="50px">
      <tr><th class="delete">削除</th></tr>
      <% special_costs.each do |special| %>
      <tr><td style="border:none"><%= link_to "削除",special_path(special.id), method: :delete, class: "delete"  %></td></tr>
      <% end %>
    </table>
  </div>
  <% end %>
  </div>
<h2>年間予定</h2>
<div class="container">
<table border="1" cellpadding="6" cellspacing="0" width="50%">
  <tr>
    <th>月</th>
    <th>内容</th>
    <th>予算</th>
    <th>✅</th>
  </tr> 
  <%# <% 1.times do |count|%>  
  <tr>
    <%if @special_costs1.length == 0%>
    <td rowspan="<%=@special_costs1.length+1%>">1月</td>
    <%else%>
    <td rowspan="<%=@special_costs1.length%>">1月</td>
    <%end%>
    <%  @special_costs1.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year %> 
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>

  <tr>
    <%if @special_costs2.length == 0%>
    <td rowspan="<%=@special_costs2.length+1%>">2月</td>
    <%else%>
    <td rowspan="<%=@special_costs2.length%>">2月</td>
    <%end%>
    <%  @special_costs2.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>
  <tr>
    <%if @special_costs3.length == 0%>
    <td rowspan="<%=@special_costs3.length+1%>">3月</td>
    <%else%>
    <td rowspan="<%=@special_costs3.length%>">3月</td>
    <%end%>
    <%  @special_costs3.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>
  <tr>
    <%if @special_costs4.length == 0%>
    <td rowspan="<%=@special_costs4.length+1%>">4月</td>
    <%else%>
    <td rowspan="<%=@special_costs4.length%>">4月</td>
    <%end%>
    <%  @special_costs4.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>
  <tr>
    <%if @special_costs5.length == 0%>
    <td rowspan="<%=@special_costs5.length+1%>">5月</td>
    <%else%>
    <td rowspan="<%=@special_costs5.length%>">5月</td>
    <%end%>
    <%  @special_costs5.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>
  <tr>
    <%if @special_costs6.length == 0%>
    <td rowspan="<%=@special_costs6.length+1%>">6月</td>
    <%else%>
    <td rowspan="<%=@special_costs6.length%>">6月</td>
    <%end%>
    <%  @special_costs6.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>
</table>
<table border="1" cellpadding="6" cellspacing="0" width="50%">
  <tr>
    <th>月</th>
    <th>内容</th>
    <th>予算</th>
    <th>✅</th>
  </tr>   <tr>
    <%if @special_costs7.length == 0%>
    <td rowspan="<%=@special_costs7.length+1%>">7月</td>
    <%else%>
    <td rowspan="<%=@special_costs7.length%>">7月</td>
    <%end%>
    <%  @special_costs7.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>
  <tr>
    <%if @special_costs8.length == 0%>
    <td rowspan="<%=@special_costs8.length+1%>">8月</td>
    <%else%>
    <td rowspan="<%=@special_costs8.length%>">8月</td>
    <%end%>
    <%  @special_costs8.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>
  <tr>
    <%if @special_costs9.length == 0%>
    <td rowspan="<%=@special_costs9.length+1%>">9月</td>
    <%else%>
    <td rowspan="<%=@special_costs9.length%>">9月</td>
    <%end%>
    <%  @special_costs9.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>
  <tr>
    <%if @special_costs10.length == 0%>
    <td rowspan="<%=@special_costs10.length+1%>">10月</td>
    <%else%>
    <td rowspan="<%=@special_costs10.length%>">10月</td>
    <%end%>
    <%  @special_costs10.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>
  <tr>
    <%if @special_costs11.length == 0%>
    <td rowspan="<%=@special_costs11.length+1%>">11月</td>
    <%else%>
    <td rowspan="<%=@special_costs11.length%>">11月</td>
    <%end%>
    <%  @special_costs11.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>
  <tr>
    <%if @special_costs12.length == 0%>
    <td rowspan="<%=@special_costs12.length+1%>">12月</td>
    <%else%>
    <td rowspan="<%=@special_costs12.length%>">12月</td>
    <%end%>
    <%  @special_costs12.each do |cost| %>
      <%# <% if cost.date.month == 5 && cost.date.year == Date.today.year%>
        <td><%= cost.special_name%></td>
        <td ><%= cost.price%></td>
    <td ><input type="checkbox"></td>
      <%# <% end %> 
  </tr>
    <% end %>

  <%# <% end %>  
</table>
</div>


  <h3>・カテゴリー別</h3>
  <%# @ratio.each do |k,v| %>
    <%# @ratio = (v * 100)/1000 %>
  <%# end %>
  <%= pie_chart @ratio, donut: true, suffix: "%",colors: [ "#FFB5A7","#FCD5CE","#F8EDEB","#F9DCC4","#FEC89A","#96939F","#7AA9CD","#93C2F1","#D1EAAE","#6DB8C5"], legend: "left" %>
  <%= column_chart  @special_costs.joins(:specate).group("specates.name").sum(:price).sort_by { |_, v| v }.reverse.to_h, suffix: "円", colors:["#6DB8C5"]%>
</div>
